<template>
  <div id="app">
    <!-- <img alt="Vue logo" src="./assets/logo.png" /> -->
    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
    <VeeValidateForm />
  </div>
</template>

<script>
import VeeValidateForm from "./components/VeeValidateForm/VeeValidateForm.vue";
// import HelloWorld from './components/HelloWorld.vue'

export default {
  name: "App",
  components: { VeeValidateForm },
};
</script>

<style>
#app VeeValidateForm {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
