<template>
  <div class="form-validation container mx-auto">
    <h1>Vee Validation Form</h1>
    <ValidationObserver v-slot="{ handleSubmit }">
      <form
        @submit.prevent="
          {
            handleSubmit(onSubmit);
          }
        "
      >
        <!-- USER'S ACCOUNT -->
        <ValidationProvider
          name="account"
          rules="required|alpha"
          v-slot="{ errors }"
        >
          <div class="form-group">
            <label for="">User's account</label>
            <input class="form-control" v-model="account" type="text" />
            <span class="text-danger">{{ errors[0] }}</span>
          </div>
        </ValidationProvider>

        <!-- PASSWORD -->
        <ValidationProvider
          name="password"
          rules="required|alpha|min:6|max:18"
          v-slot="{ errors }"
        >
          <div class="form-group">
            <label for="">Password</label>
            <input class="form-control" v-model="password" type="password" />
            <span class="text-danger">{{ errors[0] }}</span>
          </div>
        </ValidationProvider>

        <!-- EMAIL -->
        <ValidationProvider
          name="email"
          rules="required|email"
          v-slot="{ errors }"
        >
          <div class="form-group">
            <label for="">email</label>
            <input class="form-control" v-model="email" type="text" />
            <span class="text-danger">{{ errors[0] }}</span>
          </div>
        </ValidationProvider>

        <button @click="onSubmit()" type="submit" class="btn btn-primary">
          Submit
        </button>
      </form>
    </ValidationObserver>
  </div>
</template>

<script>
export default {
  methods: {
    onSubmit() {
      console.log(this.$data);
    },
  },
  data() {
    return {
      account: "",
      password: "",
      email: "",
    };
  },
};
</script>

<style lang="scss" scoped></style>
